// COLORES

$back: #ffffff;
$back_sdw: #FFFAE6;
$back_navBar: #c5dfdb;
$precio: #18A558;
// FUENTES

$titulo: 'Roboto Mono', monospace;
$text: 'Josefin Sans', sans-serif;
$logo: 'Neonderthaw', cursive;